*
{
	margin: 0;
	padding: 0;
}

body
{
	background: #dadadc;
	font-family: Arial;
	font-size: 16px;
	
}


footer
{
	background: #2f75de;
	color: white;
	text-align: center;
	font-family: 'Michroma', sans-serif;
	font-size: 1.5em;
	padding: 1em;
}


header
{
	background: white;
	font-family: 'Michroma', sans-serif;
}

header figure
{
	width: 30%;
	display: inline-block;
}

header figure img 
{
	width: 126px;
	padding: .5em;
}

header hgroup
{
	width: 65%;
	display: inline-block;
	vertical-align: top;
	padding: .5em 0;
	float: right;
}

nav
{
	background: #2f75de;
}

nav ul
{
	list-style: none;
	margin: 0 2em;

}

nav ul li
{
	display: inline-block;
	padding: .3em 0;
	margin: 0 1em;
	text-align: center;
}

nav ul li a 
{
	text-decoration: none;
	color: white;
	display: block;
	font-weight: bold;
	font-family: 'Geo', sans-serif;
	font-size: 1.5em;
}